/* .custom-h1 {
  color: red;
  font-size: 25px;
  font-weight: bold;
} */

html, body {
  overscroll-behavior-y: none;
  caret-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.indicator_legend {
  background: #56b2b2;
  padding: 7px;
  border-radius: 10px;
  color: #ddf2f2;
}

label {
  font-weight: bold;
  color: #413a70;
  font-family: system-ui, -apple-system, Roboto;
}

.indicator_fieldset {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: .5rem;
  align-content: flex-start;
}

.input_div {
  display: flex;
  justify-content: space-between;
}

input {
  font-size: 16px;
  padding: 10px;
  margin: 0 5px;
  border: none;
  background-color: #66bfbf;
  border-radius: 4px;
  height: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

input:focus {
  background-color: #eaf6f6;
  outline: none;
  box-shadow: 1px 2px 4px rgba(102, 191, 191, 1);
}
