.showErrorTooltip::after {
    content: attr(data-tooltip);
    text-align: justify;
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
    background-color: var(--color-error);
    color: var(--color-primary);
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
  }
  
  .errorTooltip::after {
    opacity: 0; 
    visibility: hidden; 
    transition: visibility 0s 4s, opacity 4s linear;
  }