.showErrorTooltip::after {
  color: var(--color-primary);
  background-color: var(--color-error);
  display: inline-block;
  margin-top: 10px;
  content: attr(data-tooltip);
  padding: var(--spacing-medium);
  text-align: justify;
  font-size: 14px;
  border-radius: var(--border-radius);
}
  
  .errorTooltip::after {
  opacity: 0; 
  visibility: hidden; 
  transition: visibility 0s 4s, opacity 4s linear;
}