.moreInfo {
  width: var(--width-full);
  height: 250px;
}

.cardList {
  display: flex;
  gap: var(--spacing-small);
  transition: all var(--transition-duration) var(--transition-ease);
}

@media screen and (max-width: 412px) {
  .cardList {
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: var(--spacing-medium);
    padding-top: var(--spacing-medium);
    transition: all var(--transition-duration) var(--transition-ease);
  }
}

.cardListContainer {
  display: flex;
  flex-direction: column;
  width: var(--width-full);
  gap: var(--spacing-medium);
}
