.moreInfo {
  width: var(--width-full);
  height: 250px;
}

.cardList {
  display: flex;
  gap: var(--spacing-small);
  transition: all var(--transition-duration) var(--transition-ease);
}

.cardListContainer {
  display: flex;
  flex-direction: column;
  width: var(--width-full);
  gap: var(--spacing-medium);
}

@media screen and (max-width: 375px) {
  .cardList {
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: var(--spacing-medium);
    padding-top: var(--spacing-medium);
    transition: all var(--transition-duration) var(--transition-ease);
  }
}

.showErrorTooltip::after {
  content: attr(data-tooltip);
  text-align: justify;
  max-width: 350px;
  position: absolute;
  top: 35px;
  left: 7%;
  right: 7%;
  padding: 5px;
  border-bottom-left-radius: var(--spacing-small);
  border-bottom-right-radius: var(--spacing-small);
  border-top-right-radius: var(--spacing-small);
  background-color: var(--color-error);
  color: white;
  font-size: 14px;
  transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.errorTooltip {
  opacity: 0;
  visibility: hidden;
}
