.moreInfo {
  width: 100%;
  height: 250px;
}

.cardList {
  display: flex;
}

.closeButton {
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 150px;
  width: 110px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border: none;
  margin-left: 5px;
}

.closeButton:hover {
  background-color: rgba(163, 213, 248);
  color: rgb(255, 255, 255);
}

/* .cardListContainer {

} */
