.searchForm {
  display: flex;
  width: 100%;
  margin: 15px 0;
  border-radius: var(--border-radius);
  opacity: 0.7;
}

.searchForm:focus {
  padding-left: 7px;
}

.searchInput {
  color: var(--color-primary);
  background: var(--color-background);
  display: flex;
  flex: 1;
  background-position: right;
  border: var(--border);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--spacing-medium);
  font-size: 1rem;
  outline: none;
  transition: all .5s var(--transition-ease);
}

.loadingInput {
  background: linear-gradient(to right, var(--color-background) 50%, var(--color-primary) 50%) left;
  background-size: 200% 100%;
  transition: all 1s var(--transition-ease);
}

.searchForm input:focus,
.searchForm input:hover {
  color: #000;
  background-color: var(--color-primary);
  padding-left: var(--spacing-large);
}

.searchForm button {
  color: var(--color-primary);
  background: var(--color-background);
  padding: var(--spacing-medium);
  border: var(--border);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-left: 1px solid var(--color-primary);
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all var(--transition-duration) var(--transition-ease);
}

.searchForm button:hover {
  color: #000;
  background-color: var(--color-primary);
  padding: 0 20px;
}

.searchForm button:disabled {
  cursor: no-drop;
}

@keyframes shake {
  0% {
    border: solid 1px var(--color-error);
    transform: translateX(0);
  }
  20% {
    border: solid 1px var(--color-error);
    transform: translateX(-5px);
  }
  40% {
    border: solid 1px var(--color-error);
    transform: translateX(0);
  }
  60% {
    border: solid 1px var(--color-error);
    transform: translateX(-5px);
  }
  100% {
    border: none;
    transform: translateX(0);
  }
}

.shakeAnimation {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 375px) {
  .searchForm {
    flex-direction: column;
    gap: 0.5rem;
  }

  .searchForm input {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  .searchForm button {
    border-radius: var(--border-radius);
    border-left: none;
  }

  .searchForm button:hover {
    padding: var(--spacing-medium);
  }
}
