.searchForm {
  margin: 5px 0;
  border-radius: var(--border-radius);
  display: flex;
  width: 100%;
  opacity: 0.9;
}

.searchForm:focus {
  padding-left: 7px;
  transition: all var(--transition-duration) var(--transition-ease);
}

.searchForm input {
  display: flex;
  flex: 1;
  padding: var(--spacing-medium);
  background-color: var(--color-primary);
  font-size: 1rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  outline: none;
  border: none;
  transition: all var(--transition-duration) var(--transition-ease);
  box-shadow: var(--box-shadow);
}

.searchForm input:focus, 
.searchForm input:hover {
  padding-left: var(--spacing-large);
}

.searchForm button {
  cursor: pointer;
  font-size: 1rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border: none;
  transition: all var(--transition-duration) var(--transition-ease);
  background-color: var(--color-primary);
  border-left: 1px solid rgb(192, 192, 192);
  padding: var(--spacing-medium);
  box-shadow: var(--box-shadow);
}

.searchForm button:hover {
  padding: 0 20px;
}

@keyframes shake {
  0% {
    border-bottom: solid 1px red;
    transform: translateX(0);
  }
  20% {
    border-bottom: solid 1px red;
    transform: translateX(-5px);
  }
  40% {
    border-bottom: solid 1px red;
    transform: translateX(0);
  }
  60% {
    border-bottom: solid 1px red;
    transform: translateX(-5px);
  }
  100% {
    border: none;
    transform: translateX(0);
  }
}

.shakeAnimation {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 375px) {
  .searchForm input {
    border-radius: var(--spacing-medium);
  }

  .searchForm {
    flex-direction: column;
    gap: .5rem;
  }

  .searchForm button {
    border-radius: var(--spacing-medium);
    border-left: none;
  }

  .searchForm button:hover {
    padding: var(--spacing-medium);
  }
}
