.card {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  height: fit-content;
  text-align: center;
  font-size: var(--font-size-small);
  cursor: pointer;
  padding: var(--spacing-medium);
  flex: 1 0 122px;
  background-color: var(--color-background);
  transition: all var(--transition-duration) var(--transition-ease);
  max-width: 120px;
}

.card:hover,
.focused {
  transform: translate(0, -5px);
  box-shadow: var(--box-shadow);
}

.cardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.cardImage img {
  width: 50px;
  height: 50px;
  padding: var(--spacing-small);
}

.day {
  margin-top: var(--spacing-small);
  font-size: var(--font-size-large);
  line-height: var(--font-size-large);
  font-family: 'arial,helvetica,sans-serif';
}

.weekday,
.month {
  text-decoration: underline dotted;
}

.temperature {
  display: flex;
  justify-content: space-around;
  font-size: var(--font-size-medium);
  margin: 5px 0;
}

.temperatureText {
  font-size: var(--font-size-small);
}
