.card {
  background: var(--color-background);
  color: var(--color-primary);
  min-width: 110px;
  text-align: center;
  font-size: var(--font-size-small);
  cursor: pointer;
  padding: var(--spacing-medium);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: var(--border-radius);
  opacity: 0.7;
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  transition: all var(--transition-duration) var(--transition-ease);
}

.card:hover,
.focused {
  box-shadow: var(--box-shadow-focused);
  transform: translate(0, -5px);
}

.cardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.cardImage img {
  width: 60px;
  padding: var(--spacing-small);
}

.day {
  margin-top: var(--spacing-small);
  font-size: var(--font-size-large);
  font-family: 'arial,helvetica,sans-serif';
  line-height: var(--font-size-large);
}

.weekday,
.month {
  text-decoration: underline dotted;
}

.temperature {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  font-weight: 400;
}

.temperatureBox {
  display: flex;
  flex-direction: column;
}

.temperatureText {
  font-size: var(--font-size-small);
}
