.moreInfo {
  margin-top: 5px;
  display: flex;
  width: 770px;
  height: fit-content;
  padding: 10px;
  gap: 10rem;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.25);
  border-radius: 10px;
}

.infoDaylight {
  border: 0.5px solid rgb(128, 128, 128, 45%);
}

.closeButton {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border: none;
  background-color: rgba(174, 217, 251);
  cursor: pointer;
}

.closeButton:hover {
  background-color: rgb(15, 69, 110);
  color: rgb(255, 255, 255);
}
