.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: var(--spacing-medium);
  width: var(--width-full);
  max-width: 500px;
  background-color: var(--color-primary);
}

.moreInfo {
  display: flex;
  width: var(--width-full);
  gap: var(--spacing-medium);
}

.moreInfoImage {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 150px;
}

.moreInfoImage img {
  width: 130px;
  height: 130px;
}

.infoDaylight {
  border-bottom: 0.5px solid rgba(80, 79, 79, 0.45);
  border-top: 0.5px solid rgba(80, 79, 79, 0.45);
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-medium);
  color: rgba(104, 103, 103, 0.7);
  margin-top: var(--spacing-large);
}

.closeButton {
  border-radius: var(--border-radius);
  height: 32px;
  width: 32px;
  cursor: pointer;
  border: none;
  background-color: var(--color-primary);
}

.closeButton:hover {
  color: rgb(198, 220, 228);
}

.wrapper {
  display: flex;
  gap: var(--spacing-small);
}

.leftBlock {
  flex: 1;
}

.centerBlock {
  align-items: flex-end;
}

.rightBlock {
  align-items: flex-start;
}

.leftBlock,
.centerBlock,
.rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 375px) {
  .moreInfo {
    flex-direction: column;
  }
  .wrapper {
    justify-content: center;
  }
}
