.container {
  color: var(--color-primary);
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  width: var(--width-full);
  max-width: 500px;
  padding: var(--spacing-medium);
  gap: var(--spacing-medium);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  opacity: 0.7;
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
}

.moreInfo {
  display: flex;
  width: var(--width-full);
  gap: var(--spacing-medium);
}

.moreInfoImage {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 150px;
}

.moreInfoImage img {
  width: 130px;
  height: 130px;
}

.infoDaylight {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-around;
  margin-top: var(--spacing-large);
  border-bottom: var(--border-secondary);
  border-top: var(--border-secondary);
  gap: var(--spacing-medium);
}

.closeButton {
  background: transparent;
  color: var(--color-primary);
  height: 32px;
  width: 32px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-ease);
}

.closeButton:hover {
  transform: rotate(90deg);
}

.wrapper {
  display: flex;
  gap: var(--spacing-medium);
}

.leftBlock {
  flex: 1;
}

.centerBlock {
  align-items: flex-start;
}

.centerBlock span,
.rightBlock span {
  width: 100%;
  border-bottom: var(--border-secondary);
}

.rightBlock {
  align-items: flex-start;
}

.leftBlock,
.centerBlock,
.rightBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cityName {
  font-weight: 700;
  border-bottom: 1px dotted;
}

@media screen and (max-width: 375px) {
  .moreInfo {
    flex-direction: column;
  }
  .wrapper {
    justify-content: space-around;
  }

  .title {
    display: flex;
    flex-direction: column;
  }
}
