html,
body {
  overscroll-behavior-y: none;
  caret-color: transparent;
  height: 100vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 0.5rem;
}
