html,
body {
  caret-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  width: 100vw;
  max-width: 760px;
  height: fit-content;
  display: flex;
  padding: 0.5rem;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c6dce4;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
