@import 'modern-normalize';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --color-body-background: #221f2f;
  --color-body-before: #ed2ff0;
  --color-body-after: #22a8cd;

  --color-primary: rgb(243, 249, 255);
  --color-secondary: rgb(174, 198, 218);

  --color-background: rgba(0, 0, 0, 0.44);
  --color-error: rgb(241, 75, 75);

  --shadow-color: 0deg 0% 0%;
  --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  --box-shadow-focused: 0 1px 10px rgba(202, 181, 204, 0.1);

  --border-secondary: 0.5px solid rgba(80, 79, 79, 0.45);
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --border-radius: 16px;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  --spacing-small: 5px;
  --spacing-medium: 10px;
  --spacing-large: 20px;

  --transition-duration: 0.5s;
  --transition-ease: ease;

  --width-full: 100%;
}

/* :root {
  --color-body-background: #221f2f;
  --color-body-before: #ed2ff0;
  --color-body-after: #22a8cd;

  --color-primary: rgb(243, 249, 255);
  --color-secondary: rgb(174, 198, 218);

  --color-background: rgba(0, 0, 0, 0.44);
  --color-error: rgb(241, 75, 75);

  --shadow-color: 0deg 0% 0%;
  --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  --box-shadow-focused: 0 1px 10px rgba(202, 181, 204, 0.1);

  --border-secondary: 0.5px solid rgba(80, 79, 79, 0.45);
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --border-radius: 16px;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  --spacing-small: 5px;
  --spacing-medium: 10px;
  --spacing-large: 20px;

  --transition-duration: 0.5s;
  --transition-ease: ease;

  --width-full: 100%;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  background: var(--color-body-background);
  overflow: auto;
}

body::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: var(--color-body-before);
  left: 15%;
  top: 20%;
  filter: blur(150px);
}

body::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: var(--color-body-after);
  left: 80%;
  top: 74%;
  filter: blur(150px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(198, 220, 228);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
