@import 'modern-normalize';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --color-primary: rgb(243, 249, 255);
  --color-secondary: rgb(174, 198, 218);
  --color-background: rgb(255, 255, 255);
  --color-error: rgb(241, 75, 75);

  --shadow-color: 0deg 0% 0%;
  --box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.1),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.1);

  --box-shadow-focused: 0.3px 0.8px 1.3px hsl(var(--shadow-color) / 0),
    1px 2.4px 3.9px hsl(var(--shadow-color) / 0.25);

  --border-radius: 16px;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  --spacing-small: 5px;
  --spacing-medium: 10px;
  --spacing-large: 20px;

  --transition-duration: 0.5s;
  --transition-ease: ease;

  --width-full: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  background: #221f2f;
  overflow: auto;
}

body::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #ed2ff0;
  left: 15%;
  top: 20%;
  filter: blur(150px);
}

body::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #22a8cd;
  left: 80%;
  top: 74%;
  filter: blur(150px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(198, 220, 228);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
